/* Set up body styles */
body {
    display: flex;
    /* Use flexbox to center the content horizontally and vertically */
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    /* Set a light gray background color */
    font-family: 'Outfit', sans-serif;
    /* Use the 'Outfit' font family for all text in the body */
    font-size: 15px;
    /* Set the default font size to 15px */
    height: 100vh;
    /* Set the height of the body to 100% of the viewport height */
    width: 100vw;
    /* Set the width of the body to 100% of the viewport width */
}

/* Set up div styles */
div {
    display: flex;
    /* Use flexbox to center the content horizontally and vertically */
    flex-direction: column;
    /* Stack all child elements of the div vertically */
    justify-content: center;
    /* Center the child elements vertically within the div */
    align-items: center;
    /* Center the child elements horizontally within the div */
    text-align: center;
    /* Center the text within the div */
}

/* Set up paragraph styles */
p {
    color: hsl(220, 15%, 55%);
    /* Set the text color to a grayish-blue */
    font-weight: 400;
    /* Set the font weight to normal */
    width: 85%;
    /* Set the width of the paragraph to 85% of the parent container */
    text-align: center;
    /* Center the text within the paragraph */
    margin-top: 0;
    /* Remove any top margin to prevent extra space above the paragraph */
}

/* Set up h2 styles */
h2 {
    color: hsl(218, 44%, 22%);
    /* Set the text color to a dark blue */
    font-weight: 700;
    /* Set the font weight to bold */
    width: 90%;
    /* Set the width of the h2 to 90% of the parent container */
    text-align: center;
    /* Center the text within the h2 */
}

/* Set up card styles */
.card {
    background-color: hsl(0, 0%, 100%);
    /* Set the background color of the card to white */
    width: 300px;
    /* Set the width of the card to 300px */
    padding: 3px;
    /* Add a small amount of padding around the card */
    border-radius: 20px;
    /* Round the corners of the card */
}

/* Set up QR code styles */
.qrCode {
    width: 294px;
    /* Set the width of the QR code to 294 pixels */
    margin: 3px;
    /* Center the QR code horizontally within its container */
    border-radius: 10px;
    /* Round the corners of the QR code */
}
