body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  height: 100vh;
  width: 100vw;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  width: 85%;
  text-align: center;
  margin-top: 0;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  width: 90%;
  text-align: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 300px;
  border-radius: 20px;
}

.qrCode {
  width: 264px;
  margin: 18px auto 0;
  border-radius: 10px;
}

footer {
  position: absolute;
  bottom: 0;
}
a {
  text-decoration: none;
  color: hsl(218, 44%, 22%);
}
